body {
  margin: 0;
  display: block;
  position: relative;
  background-image: url('./images/background.png');
  background-position: center;
  background-repeat: round;
}

* {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 15px;
}

::placeholder, .info-line, .header, .count {
  color: rgba(112, 112, 112, 60);
  font-weight: 200;
}

.info-line, .header {
  font-weight: 200;
}
input {
line-height: 2.5;
padding-left: 7px;
box-sizing: border-box;
}
nav {
  margin: 0 .2rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: .2rem;
}
nav li {
  line-height: 1.5rem;
}

header {
border-width: 10px 12px;
border-color: #1C688E;
border-style: solid;
}
input {
  width: 100%;
}
nav {
  align-self: flex-start;
}

div {
  /* border: 1px solid gold; */
  background: white;
}
.row {
  /* border: 3px solid lightcoral; */
  display: flex;
  flex-wrap: no-wrap;
  align-items: center;
}
.heading {
  color: black;
  font-weight: 400;
  font-size: 17px;
}
.list-item {
  max-width: 80px;
  display: inline-block;
}
.left {
  max-width: 25%;
  float: left;
  padding: 1rem 1rem 0 0;
}
.right {
  float: right;
  line-height: 2;
}
.checkbox {
  font-size: 1.5rem;
  float: left;
  width: auto;
  
}
.count {
  float: right;
  /* line-height: 1.7rem; */
}
/* MOBILE FIRST^ LARGER SCREENS BELOW */
@media screen and (min-width: 450px) {  
  .contain {
      margin: 45px;
  }
  header {
    border-width: 22px 25px;
    border-color: #1C688E;
    border-style: solid;
  }
  nav {
    display: inline-block;
    width: 184px;
    padding: 0 1rem 0 1rem;
  }
  main {
    display: inline-block;
    align-self: flex-start;
  }
}
